.backgroundImage {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  box-shadow: inset 0px 0px 150px 100px #000000;
  margin: 0px -10px 0px 0px;
  transform: scale(1.1);
}
